.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 16px;
    max-width: 300px;
    transition: transform 0.2s;
  }
  .card:hover {
    transform: scale(1.05);
  }
  
  .product-card{
    position: relative;
  }
  .image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
  }
  
  .title {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .price {
    font-size: 16px;
    margin: 10px 0;
  }
  
  .color {
    font-size: 14px;
    color: #777;
  }
 .cart-product-card{
  padding: 30px 20px 10px;
 }
  button.card-btn-delete{
    position: absolute;
    top: 1px;
    right: -5px;
    font-size: 24px;
    background-color: transparent;
    color: #777;
    padding: 0;
  }
  