.list-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;

   
}
.list-item{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 10px;
}
.list-item span{
    display: inline-block;
    margin: 0 3px;
}
button{
    border: none;
    background-color: rgb(227, 144, 67);
}